body{
    margin: 0px;
    background-color: azure;

}

.task-itemfalse{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted gray;
    padding: 10px;    
}
.task-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;    
}

.task-itemtrue{
    display: flex;
    justify-content: space-between;
    text-decoration:line-through;
    background-color: gray;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.task-area{
    border: 1px solid gray;
    margin-top: 10px;
}

.task-nav{
    display: flex;
    border: 1px solid gray;
    position: relative;

}
.task-nav:hover{
    cursor: pointer;
}
.task-nav div {
    display: flex;
    padding: 1em;

}

.topline{
    border: 1px solid gray;
}

.container{

    height: 100vh;
    background-color: beige;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#underline{
    height: 4px;
    background-color: green;
    position: absolute;
    width:60px;
    left:0px;
    top:52px;
    padding: 0px;
    transition: 0.5s;
}
